// 引入清楚默认样式
@import './reset.scss';

// 滚动条外观设置
// 滚动条宽度
::-webkit-scrollbar {
  width: 10px;
}
// 滚动条背景颜色
::-webkit-scrollbar-track {
  background: $base-menu-background;
}

//滚动条颜色
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: yellowgreen;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
